---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I'm Ewan Smith. I'm a PhD student reading Mechanical and Aerospace Engineering, working in the Aerospace Centre of Excellence at the University of Strathclyde, Glasgow. I live happily and quietly with my wonderful partner Niamh in the West End of Glasgow.
		</p>
		<p>Some of my other interests include:</p>
		<ul class="list-inside list-disc">
			<li>Throwing too much money at coffee making equipment</li>
			<li>Playing guitar not as well as someone who's been playing for 10+ years should</li>
		</ul>

		<section class="mt-16">
			<h2 class="title mb-4 text-xl">Technologies</h2>
			I built this website with the following tools:
			<ul class="space-y-4 sm:space-y-2">
				<li>
					<a
						href="https://astro.build"
						target="_blank"
						rel="noopener noreferrer"
						class="cactus-link inline-block"
						>Astro
					</a>:
					<p class="inline-block sm:mt-2">Static, content-based site generation.</p>
				</li>
				<li>
					<a
						href="https://vercel.com"
						target="_blank"
						rel="noopener noreferrer"
						class="cactus-link inline-block"
						>Vercel
					</a>:
					<p class="inline-block sm:mt-2">Serverless hosting.</p>
				</li>
			</ul>
		</section>
	</div>
</PageLayout>
