---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "CV" }}>
	<section>
		<h1 class="title mb-6">Ewan Smith MEng AMIMechE MIES</h1>
        <h2 class="title mb-4 text-xl">Experience</h2>
		<p class="mb-4">
			
		</p>
	</section>
</PageLayout>