---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "CV" }}>
	<section>
		<h1 class="title mb-6">Ciriculum Vitae</h1>
        <h2 class="title mb-4 text-xl">Experience</h2>
		<p class="mb-4">
			My name is Ewan Smith, I'm a PhD student reading Mechanical and Aerospace Engineering, working in the Aerospace Centre of Excellence at the University of Strathclyde, Glasgow.
		</p>
	</section>
</PageLayout>